<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Display graphs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/menu.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
  </head>
  <body class="preload">

    <div id="mySidenav">
      <a href="javascript:void(0)" id="closeButton" onclick="updateNav()">&times;</a>

      <button onclick="goHome()">Home</button>

    </div>

    <span class="menuButton" onclick="updateNav()">&#9776; Menu</span>

    <div id="image_div"></div>
    
    <script src="{{ url_for('static', filename='scripts/menu.js') }}" type="text/babel"></script>
    <script src="{{ url_for('static', filename='scripts/visualize.js') }}" type="text/babel"></script>

  </body>
</html>