<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="static/css/scholarly.min.css">
		<title>IMOR Project Scholarly HTML</title>
	</head>

	<body prefix="schema: http://schema.org/
          		  xsd: http://www.w3.org/2001/XMLSchema#
          		  sa: https://ns.science.ai/">
				  
		<header>
			<div class="banner">
				<img src="static/misc/scholarly-html.svg" width="227" height="50" alt="Scholarly HTML logo">
				<div class="status">WADE Project, FII UAIC</div>
			</div>
			<h1>IMOR Project Scholarly HTML</h1>
		</header>
		<ol role="directory">
			<li><a href="#abstract"><span>1. </span>Abstract</a></li>
			<li><a href="#introduction"><span>2. </span>Project Progress</a></li>
			<li><a href="#dataset"><span>3. </span>The Dataset</a></li>
			<li><a href="#implAPIs"><span>4. </span>Implemented APIs</a></li>
				<ol role="directory">
					<li><a href="#flask"><span>4.1 </span>Flask</a></li>
					<li><a href="#reactJS"><span>4.2 </span>ReactJS</a></li>
					<li><a href="#ML"><span>4.3 </span>ML</a></li>
				</ol>
			<li><a href="#"><span>5. </span>a</a></li>
			<li><a href="#"><span>6. </span>a</a></li>
			<li><a href="#"><span>7. </span>a</a></li>
			<li><a href="#"><span>8. </span>a</a></li>
		</ol>
        <article typeof="schema:ScholarlyArticle" resource="#">
			<section typeof="sa:AuthorsList">
				<h2>Authors</h2>
			    <ul>
			    	<!-- The first author -->
			    	<li property="schema:author" typeof="sa:ContributorRole">
			      		<a property="schema:author" href="https://github.com/stefanihnatiw" typeof="schema:Person">
			        		<span property="schema:givenName">Stefan</span>
			        		<span property="schema:familyName">Ihnatiw</span>
			      		</a>
			    	</li>
			     	<!-- The second author -->
			      	<li property="schema:author" typeof="sa:ContributorRole">
			        	<a property="schema:author" href="https://github.com/adriantiron" typeof="schema:Person">
			          		<span property="schema:givenName">Adrian</span>
			          		<span property="schema:familyName">Tiron</span>
			        	</a>
			      	</li>
			    </ul>
			</section>

			<section typeof="sa:Abstract" id="abstract" role="doc-abstract">
				<h2>1. Abstract</h2>
				<p>We want to develop a web application based on microservices that can perform searching and filtering of images from a certain dataset using trained models to identify and visualize different characteristics. The main framework that interacts with microservices we want to use is Flask because of its integration with Python language and simplicity over other full-stack frameworks like Django. For the client side we intend on using ReactJS library for the easy integration with Flask. The backend part will be written in Python and should include machine learning algorithms on data visualization and identification implemented using the Keras API, data storing and retrieval using the H5py interface for easy manipulation using Keras, and SPARQLWrapper as an endpoint interface for Python.</p>
			</section>
			
			<section id="introduction" role="doc-introduction">
				<h2>2. Project Progress</h2>
				<p>The main requested <b>requirements</b> of this project are:</p>
				<ul>
					<li>consider <a href="https://www.kaggle.com/datasets?sortBy=relevance&group=featured&search=image">Kaggle Image Datasets</a> and pick one or more to work with</li>
					<li>develop a system based on microservices capable of browsing, filtering etc.</li>
					<li>make use of machine learning techniques and semantic web technologies</li>
					<li>generate visualizations, recommandations, classifications and correlations</li>
					<li>create a comparative study to explain results</li>
				</ul>
				<p>Our <b>initial goals</b> for this project were to:</p>
				<ul>
					<li>firstly get accustomed to and become comfortable with the technologies we were going to work with (because we were basically beginners with web development at this scale)</li>
					<li>secondly meet as many goals as we could, within the time margin we had and our knowledge</li>
					<li>employ machine learning sub-components</li>
					<li>pass this component</li>
				</ul>
				<p>The realistic <b>current outcome</b> is that we managed to create a functional website, albeit not complicated, still trying to work continuously until the deadline so that we can add/improve features and meet more requirements...</p>
			</section>
			
			<section typeof="sa:MaterialsAndMethods" id="dataset">
				<h2>3. The Dataset</h2>
				<p> The dataset we initially wanted to work with was:
					<figure>
						<a href="https://www.kaggle.com/jessicali9530/stanford-dogs-dataset">Stanford Dogs Dataset, with over 20,000 images of 120 dog breeds.</a>
					</figure>
				</p>
				<p>
					We quickly realized that this dataset did not feel right for us, it was not suited for an image browser (because what is the point of browsing random dogs?) and had no labels for the images (just classes and the bounding boxes), so we started searching for another dataset and found:
					<figure>
						<a href="https://www.kaggle.com/ikarus777/best-artworks-of-all-time">Best Artworks of All Time, Collection of Paintings of the 50 Most Influential Artists of All Time.</a>
					</figure>
				</p>
				<p>The 'Best Artworks of All Time' is structured as follows:
					<ul>
						<li><i>images</i> folder containing full sized paintings, sequentially numbered, structured in a separate folder for each artist</li>
						<li><i>resized</i> folder containing the same paintings, sequentially numbered, but in a smaller size (useful for machine learning) and extracted from their respective folders into a single folder</li>
						<li><i>artists.csv</i> file containing basic information about the 50 chosen artists</li>
					</ul>
				</p>
				<p>The data in <i>artists.csv</i> has the following columns:
					<ul>
						<li>name: name of the artist</li>
						<li>years: birth year and the death year, separated by a dash</li>
						<li>genre: the genres of the paintings created by the artist</li>
						<li>nationality: ethnic group of the artist</li>
						<li>bio: short description of the artist (taken from the artist's wikipedia page, usually a paragraph or two)</li>
						<li>wikipedia: link to the artist's wikipedia page</li>
						<li>paintings: number of paintings gathered in the artist's respective folder</li>
					</ul>
				</p>
				<p><b>NOTE:</b> the dataset is slightly modified from the original one because of character encoding issues... The <i>artists.csv</i> file had a lot of modifications done to it (the bio column being basically redone from scratch). As for the paintings, 'Albrecht Durer' had two sets of identical files, but with slightly different names (due to loss of original encoding), so we kept only one set, renamed to the correct artist name.</p>
			</section>
			
			<section typeof="sa:MaterialsAndMethods" id="implAPIs"> 
				<h2>4. Implemented APIs</h2>
				
				<section id="flask">
					<h3>4.1 Flask</h3>
					<p><a href="https://palletsprojects.com/p/flask/">Flask</a> is a web framework written in Python, based on micro-services. Flask makes the core functionality simple yet extensible, saving time to create web applications. It does not require any separate tools or libraries, but it is based on two popular engines: <a href="https://palletsprojects.com/p/werkzeug/">Werkzeug</a> (collection of WSGI libraries) and <a href="https://palletsprojects.com/p/jinja/">Jinja (template engine).</a></p>
					<p>Example of a very simple 'Hello, World!' page, using purely werkzeug's request and response:</p>
					<figure typeof="schema:SoftwareSourceCode">
						<meta property="schema:name" content="python">
<pre class="codeborder">
from werkzeug.wrappers import Request, Response

@Request.application
def application(request):
	return Response("Hello, World!")

if __name__ == "__main__":
	from werkzeug.serving import run_simple
	run_simple("localhost", 5000, application)
</pre>
					</figure>
					<p>Example of a template using Jinja, which generates a custom unordered list containing links to all found users in the variable passed by Flask:</p>
					<figure typeof="schema:SoftwareSourceCode">
						<meta property="schema:name">
<pre class="codeborder">
{% extends "layout.html" %}
{% block body %}
  &lt;ul&gt;
  {% for user in users %}
    &lt;li&gt;&lt;a href="{{ user.url }}"&gt;{{ user.username }}&lt;/a&gt;&lt;/li&gt;
  {% endfor %}
  &lt;/ul&gt;
{% endblock %}
</pre>
					</figure>
					<p>Flask works with two main folders:
						<ul>
							<li><i>template</i>, which contains HTML files to be parsed by Flask as needed (can contain Jinja templates).</li>
							<li><i>static</i>, which contains miscellaneous files that do not change such as CSS stylesheets, JS scripts and resources (images, text etc.).</li>
						</ul>
					</p>
					<p>Features of Flask:</p>
					<ol>
						<li>based on the Unicode encoding</li>
						<li>uses REST API</li>
						<li>Development server (seeing real-time changes without redeploying)</li>
						<li>Support for unit testing</li>
						<li>Client side secure cookies</li>
						<li>Mature documentation</li>
						<li>High compatibility with other frameworks</li>
						<li>Lots of extensions available which enrich the functionalities</li>
						
						
					</ol>
					<p>Basic example of a Flask URL routing, demonstrating the use of the 'route' decorator:</p>
					<figure typeof="schema:SoftwareSourceCode">
						<meta property="schema:name">
<pre class="codeborder">@app.route("/")
def index():
    return "Index"
		
@app.route("/hello")
def hello():
    return "Hello!"
</pre>
					</figure>
					<p>Great thing about Flask is that it is a portable and interactive web development language. It is easy to get into it and understand the few powerful functions that are the 'bread and butter' of the framework, while also giving the ability to scale into complex applications. It offer freedom of choice, not enforcing the use of any dependency. The developer chooses what they want to use in terms of external tools and libraries.</p>
					<p><b>FUN FACT:</b> Pinterest and LinkedIn both use Flask.</p>
				</section>

				<section id="reactJS">
					<h2>ReactJS</h2>
					<p>ReactJS is a component-based library which is deployed for the development of interactive user interfaces. Currently it is the most popular front-end JS library. It incorporates the view (V) layer in the MVC (Model View Controller) pattern. It is supported by Facebook, Instagram and a community of individual developers and organizations. React basically enables development of large and complex web-based applications which can change their data without subsequent page refreshes. It targets to provide better user experiences and with blazing fast and robust web apps development.</p>
					<p>Features of React:</p>
					<ol>
						<li>Lightweight DOM for Better Performance - it does not interact with the DOM generated by the browser but reacts to the document object model stored in the memory which results in a blazing fast and robust performance of the application</li>
						<li>Easy Learning Curve - a developer gets along with the framework very easily</li>
						<li>JSX - highly popular language which is very similar to the tech giant XML, not mandatory but helps in making development easier, whenever writing mark-ups for components and the corresponding binding events</li>
						<li>Performance – highly efficient framework because it uses a virtual DOM feature</li>
						<li>One-way data flow – it is designed in such a way that unidirectional data flow that is downstream is allowed and supported, making it well-known for the generation of canonical data sources that remains synchronized across the components that which pay attention to it</li>
						<li>Virtual DOM - key feature, similar to the document object model generated by the browser but with a difference that it is stored it memory. Whenever a request for changing the page content is made, the changes are reflected to the memory residing virtual DOM first. After that, a diff() algorithm compares the virtual DOM and the browser DOM an then the required changes only are reflected to the browser DOM, instead of re-rendering the entire DOM. This provides a gigantic boost to the performance of application, essentially when thousands of data changes are to be made</li>
					</ol>
					<p>The Component is the major building-block in React. The entire user interface can be designed by assembling a tree of multiple components. An intermediate DOM is generated by the render() method present in each of the React components. As shown in Fig.1, a call to the React.renderComponent() method on the root Component leads to recursively going down the Component tree and generating the intermediate-DOM. Then afterwards this intermediate DOM is converted to the actual HTML DOM.</p>
					<figure typeof="sa:Image">
						<img src="fig1.png" width="600" height="300">
						<figcaption>Fig.1 Conversion of intermediate DOM to HTML DOM</figcaption>
					</figure>
					<p>React makes use of a convenient XML-based extension to JavaScript, known as the JSX, to generate the component tree as a combination of multiple XML nodes. This makes DOM visualization and understanding easy and much more convenient. JSX also plays a key role in simplifying the association of the event handlers and properties as XML attributes. The final JavaScript is generated using a command line and in browser tool. A Component is directly mapped by a JSX XML node. It is important to note that React works independent of JSX and the using JSX only plays the task of simplifying the task of generating intermediate DOM.</p>
					<p>React has a few limitations too that must be considered:</p>
					<ul>
						<li>Only the View entity in the mobile view controller or MVC is handled by the react. Therefore, additional tooling is required in order to complete the project development</li>
						<li>Use of inline templates and JSX sometimes proves to be an intensively complex and tiring task for a small set of developers</li>
						<li>Also, in case of ReactJS, failures happen at compile time instead of runtime as in case of other languages and frameworks, which can sometimes be very frustrating and tiring</li>
					</ul>
				</section>

				<section id="ML">
					<h2>Keras API</h2>
					<p>Keras is a deep learning API written in Python, running on top of the machine learning platform TensorFlow. It was developed with a focus on enabling fast experimentation, being able to go from idea to result as fast as possible is key to doing good research. It offers consistent & simple APIs, it minimizes the number of user actions required for common use cases, and it provides clear and actionable feedback upon user error.</p>
					<p>Keras ranked as #1 for deep learning both among primary frameworks and among all frameworks used.</p>
					<figure typeof="sa:Image">
						<img src="fig2.png" width="600" height="300">
						<figcaption>Fig.2 Primary ML software tool used by top-5 teams on Kaggle in each competition (n=120)</figcaption>
					</figure>
					<p>The core data structures of Keras are layers and models. The simplest type of model is the Sequential model, a linear stack of layers. For more complex architectures, the Keras functional API allows to build arbitrary graphs of layers, or write models entirely from scratch via subclasssing.</p>
					<p>Here is an example of the Sequential model with 2 layers and how to compile it:</p>
					<figure typeof="schema:SoftwareSourceCode">
						<meta property="schema:name" content="python">
<pre class="codeborder">
from tensorflow.keras.models import Sequential

model = Sequential()
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=10, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])
</pre>
					</figure>
					<p>Then, training on a given set (x_train, y_train) and testing the model with a test set (x_test) can be achieved like this:</p>
					<figure typeof="schema:SoftwareSourceCode">
						<meta property="schema:name" content="python">
<pre class="codeborder">
model.fit(x_train, y_train, epochs=5, batch_size=32)
classes = model.predict(x_test, batch_size=128)
</pre>
					</figure>
					<p>Keras is also a highly-flexible framework suitable to iterate on state-of-the-art research ideas. Keras follows the principle of progressive discloure of complexity: it makes it easy to get started, yet it makes it possible to handle arbitrarily advanced use cases, only requiring incremental learning at each step.</p>
				</section>

				<section id="">
					<h2>H5py interface</h2>
					<p>The h5py package is a Pythonic interface to the HDF5 binary data format.</p>
					<p>It lets you store huge amounts of numerical data, and easily manipulate that data from NumPy. For example, you can slice into multi-terabyte datasets stored on disk, as if they were real NumPy arrays. Thousands of datasets can be stored in a single file, categorized and tagged however you want.</p>
					<p>H5py uses straightforward NumPy and Python metaphors, like dictionary and NumPy array syntax. For example, you can iterate over datasets in a file, or check out the shape or dtype attributes of datasets. You don't need to know anything special about HDF5 to get started.</p>
					<p>In addition to the easy-to-use high-level interface, h5py rests on an object-oriented Cython wrapping of the HDF5 C API. Almost anything you can do from C in HDF5, you can do from h5py.</p>
					<p>Best of all, the files you create are in a widely-used standard binary format, which you can exchange with other people, including those who use programs like IDL and MATLAB.</p>
				</section>

				<section id="">
					<h2>SPARQLWrapper</h2>
					<p>SPARQLWrapper is a simple Python wrapper around a SPARQL service to remotely execute your queries. It helps in creating the query invocation and, possibly, convert the result into a more manageable format.</p>
					<p>The simplest usage of this module looks as follows (using the default XML return format and special URI for the SPARQL Service):</p>
					<figure typeof="schema:SoftwareSourceCode">
						<meta property="schema:name" content="python">
<pre class="codeborder">
from SPARQLWrapper import SPARQLWrapper

queryString = "SELECT * WHERE { ?s ?p ?o. }"
sparql = SPARQLWrapper("http://example.org/sparql")
sparql.setQuery(queryString)

try:
	ret = sparql.query()  # ret is a stream with the results in XML
except:
	deal_with_the_exception()
</pre>
					</figure>
				</section>
			</section>

			<section typeof="sa:ReferenceList">
				<h2>References</h2>
				<ol>
					<li id="ref-flask" typeof="schema:Article" resource="https://core.ac.uk/download/pdf/55305148.pdf">
						<span property="schema:author" typeof="schema:Person">
	    					<span property="schema:givenName">Fankar</span>
	    					<span property="schema:additionalName">Armash</span>
	    					<span property="schema:familyName">Aslam</span>
						</span>.
  						<cite property="schema:name">Efficient Way Of Web Development Using Python And Flask.</cite>
  						<span property="schema:isPartOf" typeof="schema:PublicationVolume">
    						<span property="schema:isPartOf" typeof="schema:Periodical">
      							<span property="schema:name">International Journal of Advanced Research in Computer Science</span>
    						</span>
    						<time about="https://core.ac.uk/download/pdf/55305148.pdf" 
    						property="schema:datePublished" datetime="2015-03" datatype="xsd:gYearMonth">2015 Mar</time>;
    						<span property="schema:volumeNumber">6</span>
  						</span>
					</li>

					<li id="ref-react" typeof="schema:Article" resource="http://ijrra.net/Vol5issue1/IJRRA-05-01-27.pdf">
						<span property="schema:author" typeof="schema:Person">
	    					<span property="schema:givenName">Sanchit</span>
	    					<span property="schema:familyName">Aggarwal</span>
						</span>.
  						<cite property="schema:name">Modern web-development using reactjs.</cite>
  						<span property="schema:isPartOf" typeof="schema:PublicationVolume">
    						<span property="schema:isPartOf" typeof="schema:Periodical">
      							<span property="schema:name">International Journal of Recent Research Aspects</span>
    						</span>
    						<time about="http://ijrra.net/Vol5issue1/IJRRA-05-01-27.pdf" 
    						property="schema:datePublished" datetime="2018-03" datatype="xsd:gYearMonth">2018 Mar</time>;
    						<span property="schema:volumeNumber">5</span>
  						</span>
					</li>

					<li id="ref-keras" typeof="schema:WebSite" resource="https://keras.io/guides/">
						<span property="schema:author" typeof="schema:Organization">
	    					<span property="schema:name">Keras SIG</span>
						</span>.
						<span property="schema:name">Keras Guides</span>
					</li>

					<li id="ref-h5py" typeof="schema:WebSite" resource="https://www.h5py.org/">
						<span property="schema:author" typeof="schema:Person">
	    					<span property="schema:givenName">Andrew</span>
	    					<span property="schema:familyName">Collette</span>
						</span>.
						<span property="schema:name">H5py interface</span>
					</li>

					<li id="ref-sparql" typeof="schema:WebSite" resource="https://github.com/RDFLib/sparqlwrapper">
						<span property="schema:author" typeof="schema:Person">
	    					<span property="schema:givenName">Ivan</span>
	    					<span property="schema:familyName">Herman</span>
						</span>,
						<span property="schema:author" typeof="schema:Person">
	    					<span property="schema:givenName">Sergio</span>
	    					<span property="schema:familyName">Fernández</span>
						</span>.
						<span property="schema:name">SPARQLWrapper</span>
					</li>
				</ol>
			</section>

        </article>

	</body>

</html>