@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

body, button {font-family: 'Sofia', cursive;}

#image_div {
  margin-top: 10px;
  margin-left: 6%;
  transition: 0.5s;
}

.menuButton {
	font-size: 2vw;
	cursor: pointer;
	z-index: 1;
	position: relative;
	color: #424949;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 4%;
}

.sidenav > a, .sidenav > button {
  padding: 3% 3% 3% 12%;
  text-decoration: none;
  font-size : 1.9vw /* Times New Roman, sans-serif */;
  color: #818181;
  display: block;
  transition: 0.3s;
  background: none;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, button:hover {
  color: #f1f1f1;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 8%;
}

#searchForm {
  display: none;
  white-space: nowrap;
}

#searchBar {
  width: 60%;
}

#submitButton {
	width: 30%;
  	padding: 1% 0%;
	border: none;
}

#pageSwitch {
	display: block;
	margin-top: 5%;
	padding: 3% 3% 3% 12%;
	white-space: nowrap;
}

#pageSwitch * {
  display: inline;
  font-size : 1vw;
}

#pageSwitch button {
  text-decoration: none;
  color: #818181;
  background: none;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: none;
}

#pageSwitchInput input {
	width: 20%;
	margin-bottom: 2%;
	text-align: center;
}