@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

body, button {font-family: 'Sofia', cursive;}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#image_div {
  transition: 0.5s;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.menuButton {
	font-size: 2vw;
	cursor: pointer;
	z-index: 1;
	position: relative;
	color: #424949;
	user-select: none;
}

#mySidenav {
  transition: 0.5s;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 4%;
  user-select: none;
}

#mySidenav > a, #mySidenav > button {
  padding: 3% 3% 3% 12%;
  text-decoration: none;
  font-size : 1.9vw;
  color: #818181;
  display: block;
  background: none;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: none;
}

#mySidenav a:hover, #mySidenav button:hover {
  color: #f1f1f1;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 8%;
}

#searchForm {
  display: none;
  white-space: nowrap;
}

#searchBar {
  width: 60%;
}

#submitButton {
	width: 30%;
  	padding: 1% 0%;
	border: none;
}

#pageSwitch {
	display: block;
	margin-top: 5%;
	padding: 3% 3% 3% 12%;
	white-space: nowrap;
}

#pageSwitch * {
  display: inline;
  font-size : 1vw;
}

#pageSwitch button {
  text-decoration: none;
  color: #818181;
  background: none;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: none;
}

#pageSwitchInput input {
	width: 20%;
	margin-bottom: 2%;
	text-align: center;
}

.filterCat {
  padding: 0% 3% 1% 15%;
  text-decoration: none;
  font-size : 1vw;
  color: #adadad;
  margin: 0;
  cursor: pointer;
  font-weight: none;
  display: none;
  white-space: nowrap;
}

.filterOpt {
  padding: 1% 3% 0% 18%;
  text-decoration: none;
  font-size : 0.9vw;
  color: #adadad;
  margin: 0;
  font-weight: none;
  display: none;
  white-space: nowrap;
}